@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100%;
  overflow-x: hidden;
}

.grid-template {
  display: flex;
  flex-wrap: wrap;
  display: grid;
  height: 100vh;
  grid-template-rows: 80px 1fr;
  grid-template-columns: 250px 1fr;
  grid-template-areas:
    "header header"
    "nav main";
}
.header {
  grid-area: header;
}
.sidebar {
  grid-area: nav;
}
.content-wrapper {
  grid-area: main;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

@media (max-width: 768px) {
  .grid-template {
    grid-template-areas:
      "header"
      "main";
    grid-template-columns: 1fr;
  }
  .sidebar {
    grid-area: unset;
  }
}
