@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700&display=swap");
@import "components.css";
@import "carousel.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-light: theme(colors.primary-light);
  --primary-dark: theme(colors.primary-dark);
  --card-size: 25rem;
  --base-300: theme(colors.base-300);
  --base-400: theme(colors.base-400);
  --base-500: theme(colors.base-500);
}

@layer base {
  body {
    height: 100%;
    overflow-x: hidden;
    font-family: "Raleway", sans-serif;
  }
}
